* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.meal {
    display:inline-block;
    margin-right:50px;
}
.itemPrice {
    padding:5px;
    padding-top:10px;
    background:rgb(255, 198, 92);
    border-radius: 5px;
    display:inline-block;
    font-size: 0.9em;
}

