*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Biryani', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(94, 94, 94);

}

#content > div{
    padding: 10px 0;
    background: rgb(224, 224, 224);
    min-height: 70vh;
    text-align:center;
    padding-top: 80px;   
}

#content > div:nth-child(even) {
    background: rgb(230, 214, 214);
}

/*navigation bar*/
#nav_container {
    background: rgba(0, 0, 0, 0.13);
    /* border-bottom: 3px solid rgba(71, 71, 71, 0.541); */
    width:100%;
    height:60px;
    
    position: fixed;
    top:0;
    z-index:99;
}

#nav_container.mainNavbar {
    background: rgb(224, 224, 224);
    border-bottom: 5px solid rgb(148, 148, 148);
}

#navbar {
    margin: 0 auto;
    width: 70%;
    /* border:1px solid white; */
    
    padding: 0 10px;
    height:100%;
    
    display:flex;
    align-items: center;

}

#navbar li {
    /* min-width: 100px; */
    list-style: none;
    
    /* border:1px solid blue; */
    text-align:center;
    height:100%;
    margin-right:5px;

    display:flex;
    align-items: center;

}

#navbar li.left {
    margin-right:auto;
}

#navbar li a {
    display:flex;

    width:100%;
    height:100%;
    
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    
    /* border:1px solid white; */
    
    padding:10px 15px;
    text-align:center;
    align-items: center;
}

#navbar li#homeIcon.hideHome {
    display:none;
}

/*Icon/logo to redirect to top of page*/
#navbar li#homeIcon a {
    padding:0;
}

#homeIcon a img{
    /* display:none; */
    height:100%;
}

#navbar li.hamburger {
    display: none;
}

/*header / landing picture*/
#container #home {
    background:black;
    height:100vh;
    position:relative;
    overflow:hidden;
}

#home img {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    max-width: 50%;
}

#home video {
    min-height: 100%;
    opacity: 0.5;
}

#content h1 {
    text-transform: uppercase;
    color: rgb(97, 97, 97);
    line-height: 1.5em;
    font-weight: 400;
}

#content h1:after {
    content: "";
    display: block;
    margin: 0 auto 30px;
    width: 15%;
    padding-top: 20px;
    border-bottom: 2px solid deepskyblue;
}

#delivery > p {
    width:40%;
    min-width: 300px;
    margin:0 auto;
    text-align: justify;
}

.parContainer {
    height:auto;
    width:75%;
    min-width: 300px;

    border: 1px solid black;

    margin:15px auto;
    padding-top:10px;

    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.paragraph {
    width:20%;
    min-width: 200px;
    text-align: justify;
    margin:5px;
    /* color:rgb(94, 94, 94); */
    /* border: 1px solid blue; */
} 

.paragraph > h3 {
    text-align: left;
    text-transform: uppercase;
    color:rgb(94, 94, 94);
}

#delivery .parContainer .paragraph i {
    display:block;
    text-align: center;
    margin-bottom: 20px;
}

/*showcase*/
#showcase .pictures {
    border:1px solid black;
    min-height: 480px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    align-content: center;
}

#showcase .pictures .image {
    width:25%;
    min-width:300px;
    height:230px;
    /* height:50%; */
    overflow:hidden;

    /* border:2px solid blue; */

    display:flex;
    justify-content: center;
    align-items:center;
    
    background:black;

    /* background:rgba(0, 0, 0, 0.658); */
}

#showcase .pictures .image img {
    width:150%;
    opacity:0.7;
    transition: all 0.2s linear 0s;
}

/*Adjust first image*/
#showcase .pictures .image:first-child {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../imgs/showcasePic01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:150%;

    transition: background-size 1s ease-in-out;

}

#showcase .pictures .image img:hover {
    transform:scale(0.85);
    opacity:1;
}

/*Cities*/

.paragraph i, .paragraph a {
    color: rgb(0, 131, 175);
}

.paragraph li {
    margin-left: -10px;
}


/*media queries for different screen sizes*/
@media screen and (max-width:1200px) {
    #navbar {
        width:100%;
        justify-content: space-around;
        white-space: nowrap;
    }

    /* treba ga targetati isto kao gore */
    #navbar li.left {
        margin:0;
    }
    #home img {
        min-width: 65%;
    }
    #home video {
        height: 100%;
    }
}

@media screen and (max-width:768px) {
    #nav_container {
        height:auto;
    }
    #nav_container.mainNavbar {
        border-bottom:none;
    }

    #navbar {
        /* background: rgba(0, 0, 0, 0.096); */
        flex-direction: column;
        height:auto;
        padding:0;
        margin:0;
        width:100%;
    }

    #navbar li {
        width: 100%;
        margin:0;
        text-align: left;
    }

    #navbar li a {
        display:none;
        text-align: left;
        padding:10px 15px;
        /* border-bottom:3px solid rgba(112, 112, 112, 0.493); */
    }

    #navbar li a.showNavbar {
        display:block;
        border-bottom:3px solid rgba(112, 112, 112, 0.493);
    }

    #navbar #homeIcon a.showNavbar > img{
        display:none;
    }
    
    /* #navbar li a:hover {
        background:rgb(168, 168, 168);
        color:black;
    } */

    #navbar li.hamburger {
        display: block;
        padding:10px 15px;
        color:white;
        border-bottom:3px solid rgba(112, 112, 112, 0.493);
    }

    #home img {
        min-width:80%;
    }

    #home video {
        height: 100%;
    }

}