/*Globals*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Biryani', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    color:rgb(94, 94, 94);
}

#content > div{
    padding: 10px 0;
    background: rgb(224, 224, 224);
    min-height: 70vh;
    text-align:center;
    padding-top: 80px;   
}
#content .diffBackground {
    background: rgb(230, 214, 214);
}
#content h1 {
    text-transform: uppercase;
    color: rgb(97, 97, 97);
    line-height: 1.5em;
    font-weight: 400;
}
#content h1:after {
    content: "";
    display: block;
    margin: 0 auto 30px;
    width: 15%;
    padding-top: 20px;
    border-bottom: 2px solid rgb(0, 131, 175);
}

.parContainer {
    height:auto;
    width:75%;
    min-width: 300px;

    margin:15px auto;
    padding-top:10px;

    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.paragraph {
    width:25%;
    min-width: 230px;
    text-align: left;

    padding:10px;

    text-align: left;
    font-size: 0.9em;
} 
.paragraph > h3 {
    text-align: left;
    text-transform: uppercase;
    color:rgb(94, 94, 94);
}
.paragraph i, .paragraph a {
    color: rgb(0, 131, 175);
}
.paragraph i {
    margin-top:2px;
}
.paragraph li {
    margin-left: -10px;
}

input[type="button"], input[type="submit"] {
    background:rgb(0, 131, 175);
    padding:5px 25px;
    
    color: white;
    border:none;
    border-radius:10px;
    outline:none;
    cursor: pointer;
}

/*navigation bar*/
#nav_container {
    background: rgba(0, 0, 0, 0.13);
    width:100%;
    height:60px;
    
    position: fixed;
    top:0;
    z-index:99;
}
#nav_container.mainNavbar {
    background: rgb(224, 224, 224);
    border-bottom: 5px solid rgb(148, 148, 148);
}
#navbar {
    margin: 0 auto;
    width: 70%;
    /* border:1px solid white; */
    
    padding: 0 10px;
    height:100%;
    
    display:flex;
    align-items: center;
}
#navbar li {
    /* min-width: 100px; */
    list-style: none;
    
    /* border:1px solid blue; */
    text-align:center;
    height:100%;
    margin-right:5px;

    display:flex;
    align-items: center;

}
#navbar li.left {
    margin-right:auto;
}
#navbar li a {
    display:flex;

    width:100%;
    height:100%;
    
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    
    /* border:1px solid white; */
    
    padding:10px 15px;
    text-align:center;
    align-items: center;
}
#navbar li#homeIcon.hideHome {
    display:none;
}
/*Icon/logo to redirect to top of page*/
#navbar li#homeIcon a {
    padding:0;
}
#homeIcon a img{
    /* display:none; */
    height:100%;
}
#navbar li.hamburger {
    display: none;
}

/*header / landing picture*/
#container #home {
    background:black;
    height:100vh;
    position:relative;
    overflow:hidden;
}
#home img {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    max-width: 50%;
}
#home video {
    min-height: 100%;
    opacity: 0.5;
}

/* Order */
.modal{
    padding: 20px 20px !important;
    background: rgb(224, 224, 224) !important;    
    width:100% ;
    height: 100% ;
    overflow:hidden !important;
}
.modal h1 {
    text-align:center !important;
    text-transform: uppercase;
    color: rgb(97, 97, 97);
    line-height: 1.5em;
    font-weight: 400;
}
.modal h1:after {
    content: "";
    display: block;
    margin: 0 auto 30px;
    width: 15%;
    padding-top: 20px;

    border-bottom: 2px solid rgb(0, 131, 175);
}

#order {
    font-family: 'Biryani';
}
.orderContainer {
    display:flex;
    justify-content: space-between;
}
.modal .foodList {
    overflow-y: scroll;

    width:50%;
    height:calc(70vh - 135px);
    margin-right:20px;
}
.orderList {
    width:50%;
    position: sticky;
    top:50px;
    right: 5px;
}
.modal .title {
    background:rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    align-items: center;

    height:2em;
    padding:7px 0 0; 

    /* border:2px solid white; */
}
.modal .item {
    border: 1px solid rgba(0, 0, 0, 0.671);
    border-top: none;
    padding:5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.modal .item:hover, #orderItems tr:hover{
    background:rgb(184, 184, 184);
    cursor: pointer;
}
.modal .meal {
    display:inline-block;
}
.modal .itemPrice {
    padding:5px;
    padding-top:10px;
    background:rgb(255, 198, 92);
    border-radius: 5px;
    display:inline-block;
    font-size: 0.9em;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
/* order list table */
.orderList table {
    width:100%;
    padding:10px;
    border-collapse: collapse;
}
.orderList th {
    text-align: left;
    text-transform: uppercase;
    border-bottom:2px solid black;

}
.orderList th, td {
    padding:5px 15px 5px 5px ;
    font-size: 0.85em;
}
.orderList th:nth-child(2) {
    width:60%;
}
.orderList td:nth-child(3) {
    text-align: center;
}
.orderList tr:nth-child(even) {
    background: rgb(209, 209, 209);
    border-top: 2px solid rgb(189, 189, 189);
    border-bottom: 2px solid rgb(189, 189, 189);

}
.orderList tfoot td {
    border-top: 2px solid black;
    padding-right:0;
}
.orderList tfoot td:last-child {
    color: red;
}
.dialogButton {
    width:200px !important;
    background: rgb(255, 188, 64) !important;
    color:rgb(0, 0, 0) !important;
}
#orderPop {
    overflow:hidden;
}
#orderPop p {
    font-weight: 700;
}
#orderPop input[type="number"]{
    width:40px;
    margin-bottom:5px;
}

/*Delivery*/
#delivery > p {
    width:40%;
    min-width: 300px;
    margin:0 auto;
    text-align: justify;
}
#delivery .parContainer .paragraph i {
    display:block;
    text-align: center;
    margin-bottom: 20px;
}

/*showcase*/
#showcase .pictures {
    min-height: 480px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    align-content: center;
}
#showcase .pictures .image {
    width:25%;
    min-width:300px;
    height:230px;
    overflow:hidden;

    display:flex;
    justify-content: center;
    align-items:center;
    
    background:black;
}

.image a {
    display:flex;
    justify-content: center;
    align-items:center;
}
#showcase .pictures .image a img {
    width:150%;
    opacity:0.7;
    transition: all 0.2s linear 0s;
}
#showcase .pictures .image a img:hover {
    transform:scale(0.85);
    opacity:1;
}

/*Mobile app*/
#mobileApp .parContainer {
    justify-content: center;
}
#mobileApp .phoneImage {
    width:200px;
    margin-right:80px;
    margin-bottom:20px;
}
#mobileApp img {
    display: block;
    width:100%;
}
.instructions {
    width:50%x;
    text-align: left;
}
.instructions .list > p {
    margin-bottom: 20px;
}
.instructions .itemNumber {
    display:inline-block;
    padding:10px;
    margin-right:1.3em;

    width:40px;
    height:40px;
    text-align: center;

    background: rgb(0, 131, 175);
    color:rgb(224, 224, 224);
}
.instructions > div:last-child {
    display:flex;
    /* width: 500px; */
}
.instructions .download {
    width:120px;
    height:40px;
    margin-right:5px;
}
.instructions .download img {
    width:100%;
    height:100%;
}

/*Cities*/
#cities img {
    width:100%;
    min-width: 230px;
    height:140px;
}

/*Comments*/
#container #comments {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)), url("../imgs/background.jpg");
    background-position: center;
    background-attachment: fixed;
}
#comments h1, #comments .paragraph, #comments .paragraph i{
    color:rgb(224, 224, 224);;
}
#comments .paragraph{
    width:33%;
}
#comments .paragraph p {
    font-style: italic;
}
#comments .paragraph i {
    margin-bottom:35px;
}
.customer {
    display:flex;
    align-items: center;
    margin-top:20px;
}
.customer p{
    margin-left:15px;
}


/*Subscriptions*/
#subscriptions .parContainer {
    justify-content: center;
    padding: 0;
}
#subscriptions .paragraph {
    background:rgb(224, 224, 224);
    margin-right:25px;
    margin-bottom: 25px;
}
#subscriptions .paragraph hr {
    margin:5px 0 20px;
}
#subscriptions .paragraph h5 {
    margin-top:-15px;
}
#subscriptions .paragraph .price {
    font-size:3em;
    color:rgb(0, 131, 175);
}
#subscriptions .paragraph input[type="button"] {
    display:block;
    margin:25px auto 0;
}
#subscriptions .hideText {
    font-size: 0;
}

/*Contact*/
#contact .parContainer {
    flex-direction: column;
}
#contact table {
    text-align:left;
    width:60%;
    margin:0 auto;
    border-spacing: 0 10px;
}
#contact td:first-child {
    width:35%;
}
#contact #txtAreaRow td:first-child {
    vertical-align: top;
}
#contact input[type="text"], #contact select, #contact textarea {
    width:100%;
    padding:10px;
    border-radius:10px;
    border:1px solid rgb(141, 141, 141);
    outline: none;
}
#contact textarea {
    height:10em;
}
#contact tr {
    margin-bottom:0px;
}

/*media queries for different screen sizes*/
@media screen and (max-width:1200px) {
    .parContainer {
       justify-content: center;
       align-content: center;
    }

    #navbar {
        width:100%;
        justify-content: space-around;
        white-space: nowrap;
    }
    /* treba ga targetati isto kao gore */
    #navbar li.left {
        margin:0;
    }
    #home img {
        min-width: 65%;
    }
    #home video {
        height: 100%;
    }

    #mobileApp .phoneImage {
        margin-right:25px;
    }

    #cities .paragraph {
        margin-right:20px;
        
    }
    
    #contact table {
        width:100%;
    }
}

@media screen and (max-width:768px) {
    .parContainer {
        justify-content: center;
        align-content: center;
    }

    #nav_container {
        height:auto;
    }
    #nav_container.mainNavbar {
        border-bottom:none;
    }
    #navbar {
        flex-direction: column;
        height:auto;
        padding:0;
        margin:0;
        width:100%;
    }
    #navbar li {
        width: 100%;
        margin:0;
        text-align: left;
    }
    #navbar li a {
        display:none;
        text-align: left;
        padding:10px 15px;
        /* border-bottom:3px solid rgba(112, 112, 112, 0.493); */
    }
    #navbar li a.showNavbar {
        display:block;
        border-bottom:3px solid rgba(112, 112, 112, 0.493);
    }
    #navbar #homeIcon a.showNavbar > img{
        display:none;
    }
    #navbar li.hamburger {
        display: block;
        padding:10px 15px;
        color:white;
        border-bottom:3px solid rgba(112, 112, 112, 0.493);
    }

    #home img {
        min-width:80%;
    }
    #home video {
        height: 100%;
    }

    #mobileApp .phoneImage {
        margin-right:25px;
    }

    #contact tr {
        display:flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    #contact td:first-child {
        width:100%;
    }
    #contact tr.inline {
        display:flex;
        flex-direction: row;
    }
    #contact .inline td {
        width:50%;
    }
    #contact .inline td:last-child {
        display:flex;
        justify-content: flex-start;
        align-items:center;
        padding-left:5px;
    }
    #contact .inline #newsletter {
        margin-right:5px;
    }
    #contact input[type="submit"] {
        width: 100%;
    }

}